.home-section {
    z-index: 10;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px);
    width: 100%;
    gap: 2rem;
    padding: 2rem 1rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
    text-align: center;
    max-width: 42rem;
  }
  
  .greeting {
    font-size: 1rem;
    font-weight: bold;
    color: white;
  }
  
  .name {
    font-size: 2.25rem;
    color: #ff0000;
    font-weight: bold;
  }
  
  .white-text {
    color: white;
  }
  
  .shadow-text {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
  
  .role {
    color: white;
  }
  
  .role-intro {
    font-size: 1.25rem;
  }
  
  .role-text {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ff0000;
  }
  
  .description {
    font-size: 0.875rem;
    color: white;
    max-width: 28rem;
    margin: 0 auto;
  }
  
  .resume-link {
    display: inline-block;
    align-self: center;
  }
  
  .resume-button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: white;
    background-color: #ff0000;
    border-radius: 9999px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 1px 15px #ff0000;
  }
  
  .resume-button:hover {
    background-color: #ff3333;
    transform: scale(1.05);
  }
  
  .resume-button:active {
    transform: scale(0.95);
  }
  
  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 28rem;
  }
  
  .blob-container {
    width: 25rem;
    height: 25rem;
    position: absolute;
    top: 1.75rem;
    right: 1.75rem;
    z-index: -1;
  }
  
  .profile-image-container {
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-image {
    box-shadow: 0 4px 6px -1px rgba(220, 38, 38, 0.1), 0 2px 4px -1px rgba(220, 38, 38, 0.06);
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  @media (min-width: 640px) {
    .home-section {
      gap: 3rem;
      padding: 2rem 1.5rem;
    }
  
    .greeting {
      font-size: 1.5rem;
    }
  
    .name {
      font-size: 2.5rem;
    }
  
    .role-intro, .role-text {
      font-size: 1.5rem;
    }
  
    .description {
      font-size: 1rem;
    }
  
    .resume-button {
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
    }
  
    .profile-image-container {
      height: 17rem;
      width: 17rem;
    }
  }
  
  @media (min-width: 768px) {
    .home-section {
      gap: 4rem;
      padding: 2rem;
    }
  
    .greeting {
      font-size: 2rem;
    }
  
    .name {
      font-size: 3rem;
    }
  
    .role-intro, .role-text {
      font-size: 1.875rem;
    }
  
    .description {
      font-size: 1.125rem;
    }
  
    .resume-button {
      font-size: 1.125rem;
    }
  
    .profile-image-container {
      height: 20rem;
      width: 20rem;
      padding-right: 2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .home-section {
      flex-direction: row;
      gap: 5rem;
      padding: 5rem 8rem;
      align-items: flex-start;
    }
  
    .content-container {
      text-align: left;
      margin-bottom: 0;
    }
  
    .name {
      font-size: 3.75rem;
    }
  
    .role-intro, .role-text {
      font-size: 2.25rem;
    }
  
    .description {
      font-size: 1.125rem;
      margin: 0;
    }
  
    .resume-link {
      align-self: flex-start;
    }
  
    .image-container {
      padding-left: 5rem;
      justify-content: flex-end;
      max-width: 32rem;
    }
  
    .profile-image-container {
      height: 20rem;
      width: 20rem;
      margin-right: 1.25rem;
    }
  
    .profile-image {
      height: 30rem;
      width: 30rem;
    }
  }
  
  @media (min-width: 1280px) {
    .image-container {
      max-width: 36rem;
    }
  }
  
  